<!-- templates/base.html -->
<style>
  body {
    padding-top: 70px;
  }


  .form-bottom-padding {
    padding-bottom: 100px;  /* Prevents overlap with floating buttons */
  }


</style>

<!DOCTYPE html>
<html lang="{{ g.language_code or 'en' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Billbook{% endblock %}</title>

    {% include 'partials/styles.html' %}
</head>
<body>

    {% include 'partials/navbar.html' %}
    


<div class="container-fluid px-2 px-md-4 px-lg-5 pt-3 pt-md-4 pt-lg-5 pb-5 pb-md-6" style="padding-bottom: 120px;">

    {% block content %}{% endblock %}
</div>

    {% include 'partials/floating_buttons.html' %}
    {% include 'partials/scripts.html' %}

    {% block scripts %}{% endblock %}
</body>
</html>
